name: Deploy Libraries (All)

on:
  workflow_dispatch:
    inputs:
      platform:
        description: 'The platform that the library should be deployed for.'
        required: true
        type: choice
        default: 'all'
        options:
        - all
        - windows
        - linux

jobs:
  deploy-libraries:
    name: Deploy Library
    strategy:
      # Because regular libraries build in different times, we take the risk here
      # max-parallel: 1
      matrix:
        include:
          - library: 'box2d'
            version: '3.0.0'
          - library: 'catch2'
            version: '3.3.2'
          - library: 'fmt'
            version: '11.2.0'
          - library: 'tracy'
            version: '0.11.1'
          - library: 'rccpp'
            version: '0.1.0'
          - library: 'sdl2'
            version: '2.0.22'
    uses: ./.github/workflows/deploy_library_callable.yml
    with:
      library: ${{ matrix.library }}
      version: ${{ matrix.version }}
      channel: stable
      platform: ${{ inputs.platform }}
    secrets:
      conan_user: 'iceshard'
      conan_password: ${{ secrets.CONAN_PASSWORD }}

  deploy-libraries-zlib-assimp:
    name: Deploy Library
    uses: ./.github/workflows/deploy_library_callable.yml
    strategy:
      # Because the assimp has a dependency on zlib
      max-parallel: 1
      matrix:
        include:
          - library: 'zlib'
            version: '1.2.13'
          - library: 'assimp'
            version: '5.2.5'
    with:
      library: ${{ matrix.library }}
      version: ${{ matrix.version }}
      channel: stable
      platform: ${{ inputs.platform }}
    secrets:
      conan_user: 'iceshard'
      conan_password: ${{ secrets.CONAN_PASSWORD }}

  deploy-libraries-imgui:
    name: Deploy Library
    uses: ./.github/workflows/deploy_library_callable.yml
    strategy:
      # Because the assimp has a dependency on zlib
      max-parallel: 1
      matrix:
        include:
          - library: 'imgui'
            version: '1.92.4'
          - library: 'imgui'
            version: '1.92.4.docking' # Also build the docking version separately
          - library: 'imguizmo'
            version: '1.91.5'
    with:
      library: ${{ matrix.library }}
      version: ${{ matrix.version }}
      channel: stable
      platform: ${{ inputs.platform }}
    secrets:
      conan_user: 'iceshard'
      conan_password: ${{ secrets.CONAN_PASSWORD }}

  deploy-headeronly-libraries:
    name: Deploy Header-Only Library
    strategy:
      # The current conan repository of iceshard has issues with parallel uploads
      max-parallel: 1
      matrix:
        include:
          - library: 'cli11'
            version: '2.4.1'
          - library: 'rapidfuzz_cpp'
            version: '3.0.5'
          - library: 'rapidxml_ns'
            version: '1.13.2'
          - library: 'rapidjson'
            version: '1.1.0.patched'
    uses: ./.github/workflows/deploy_library_callable.yml
    with:
      library: ${{ matrix.library }}
      version: ${{ matrix.version }}
      channel: stable
      platform: ${{ inputs.platform }}
    secrets:
      conan_user: 'iceshard'
      conan_password: ${{ secrets.CONAN_PASSWORD }}

  deploy-font-libraries:
    name: Deploy Font Library
    strategy:
      # Because the font libraries have dependencies we build them in order
      max-parallel: 1
      matrix:
        include:
          - library: 'freetype'
            version: '2.12.1'
          - library: 'msdfgen'
            version: '1.9.2'
          - library: 'msdf_atlas_gen'
            version: '1.2.2'
    uses: ./.github/workflows/deploy_library_callable.yml
    with:
      library: ${{ matrix.library }}
      version: ${{ matrix.version }}
      channel: stable
      platform: ${{ inputs.platform }}
    secrets:
      conan_user: 'iceshard'
      conan_password: ${{ secrets.CONAN_PASSWORD }}
