name: Deploy Tool (utility)
run-name: Deploy ${{ inputs.tool }}/${{ inputs.version }}@iceshard/${{ inputs.channel }}

on:
  workflow_call:
    inputs:
      tool:
        description: 'The tool recipe to be deployed.'
        required: true
        type: string
      version:
        description: 'The tool version to be deployed.'
        required: true
        type: string
      channel:
        description: 'The channel to which we want the package to be deployed.'
        required: false
        type: string
        default: 'stable'
      platform:
        description: 'The platform that the library should be deployed for.'
        required: false
        type: string
        default: 'all'
      conan_deploy_package:
        description: 'The package to be deployed from the workflow. May be different that the package to be build.'
        required: false
        type: string
        default: ''
    secrets:
      conan_user:
        required: true
      conan_password:
        required: true


jobs:
  deploy-package-windows:
    name: Deploy ${{ inputs.tool }} (Windows)
    if: ${{ inputs.platform == 'windows' || inputs.platform == 'all' }}
    runs-on: windows-latest
    steps:
    - name: Checkout Source Code
      uses: actions/checkout@v4

    - name: Setup Conan2
      id: conan2
      uses: iceshard-engine/.github/.github/actions/conan2@main
      with:
        conan-cache: true
        conan-cache-version: 'v1-windows'
        conan-config-url: https://github.com/iceshard-engine/conan-config.git
        conan-profile: 'windows_x64_msvc194'
        
    - name: Login to Repository
      shell: pwsh
      run: |
        conan remote login -p ${{ secrets.conan_token }} conan2-iceshard ${{ secrets.conan_user }}
        
    - name: Create Package
      shell: pwsh
      run: |
        conan create ./recipes/${{ inputs.tool }} --version ${{ inputs.version }} --user iceshard --channel ${{ inputs.channel }} --profile:all windows_x64_msvc194

    - name: Upload Package
      shell: pwsh
      run: |
        conan upload -r conan2-iceshard  ${{ inputs.conan_deploy_package || inputs.tool }}/${{ inputs.version }}@iceshard/${{ inputs.channel }}

  deploy-package-linux:
    name: Deploy ${{ inputs.tool }} (Linux)
    if: ${{ inputs.platform == 'linux' || inputs.platform == 'all' }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Source Code
      uses: actions/checkout@v4

    - name: Setup Conan2
      id: conan2
      uses: iceshard-engine/.github/.github/actions/conan2@main
      with:
        conan-cache: true
        conan-cache-version: 'v1-linux'
        conan-config-url: https://github.com/iceshard-engine/conan-config.git
        conan-profile: 'linux_x64_clang20'

    - name: Setup Clang-${{ steps.conan2.outputs.conan-profile-compiler-version }}
      if: ${{ steps.conan2.outputs.conan-profile-compiler == 'clang' }}
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh ${{ steps.conan2.outputs.conan-profile-compiler-version }}
        sudo apt install libc++-${{ steps.conan2.outputs.conan-profile-compiler-version }}-dev libc++abi-${{ steps.conan2.outputs.conan-profile-compiler-version }}-dev

    - name: Login to Repository
      shell: pwsh
      run: |
        conan remote login -p ${{ secrets.conan_token }} conan2-iceshard ${{ secrets.conan_user }}
        
    - name: Create Package
      shell: pwsh
      run: |
        conan create ./recipes/${{ inputs.tool }} --version ${{ inputs.version }} --user iceshard --channel ${{ inputs.channel }} --profile:all linux_x64_clang20

    - name: Upload Package
      shell: pwsh
      run: |
        conan upload -r conan2-iceshard  ${{ inputs.conan_deploy_package || inputs.tool }}/${{ inputs.version }}@iceshard/${{ inputs.channel }}
