name: Deploy Library (manual)
run-name: Deploy ${{ inputs.library }}/${{ inputs.version }}@iceshard/${{ inputs.channel }}

on:
  workflow_dispatch:
    inputs:
      library:
        description: 'The library recipe to be deployed.'
        required: true
        type: choice
        options:
        - 'assimp'
        - 'box2d'
        - 'catch2'
        - 'chipmunk2d'
        - 'cli11'
        - 'fmt'
        - 'freetype'
        - 'imgui'
        - 'imguizmo'
        - 'lua'
        - 'lua-filesystem'
        - 'lua-lpeg'
        - 'msdf_atlas_gen'
        - 'msdfgen'
        - 'rapidfuzz_cpp'
        - 'rapidjson'
        - 'rapidxml_ns'
        - 'rccpp'
        - 'sdl2'
        - 'tracy'
        - 'zlib'
      version:
        description: 'The library version to be deployed.'
        required: true
        type: string
        default: '1.0.0'
      channel:
        description: 'The channel to which we want the package to be deployed.'
        required: true
        default: 'stable'
        type: choice
        options:
        - stable
        - dev
      platform:
        description: 'The platform that the library should be deployed for.'
        required: true
        type: choice
        default: 'all'
        options:
        - all
        - windows
        - linux


jobs:
  deploy-library:
    name: 'Deploy ${{ github.event.inputs.library }}'
    uses: ./.github/workflows/deploy_library_callable.yml
    with:
      library: ${{ inputs.library }}
      version: ${{ inputs.version }}
      channel: ${{ inputs.channel }}
      platform: ${{ inputs.platform }}
    secrets:
      conan_user: 'iceshard'
      conan_token: ${{ secrets.CONAN_TOKEN }}
