name: Deploy Tools (All)

on:
  workflow_dispatch:
    inputs:
      platform:
        description: 'The platform that the library should be deployed for.'
        required: true
        type: choice
        default: 'all'
        options:
        - all
        - windows
        - linux

jobs:
  deploy-basic-tools:
    name: Deploy Basic Tools
    strategy:
      matrix:
        include:
          - tool: 'fastbuild-installer'
            version: '1.12'
          - tool: 'fastbuild-generator'
            version: '0.4.2'
          - tool: 'premake-installer'
            version: '5.0.0'
          - tool: 'premake-generator'
            version: '0.2.0'
    uses: ./.github/workflows/deploy_tool_callable.yml
    with:
      tool: ${{ matrix.tool }}
      version: ${{ matrix.version }}
      channel: stable
      platform: ${{ inputs.platform }}
    secrets:
      conan_user: 'iceshard'
      conan_token: ${{ secrets.CONAN_TOKEN }}

  deploy-conan-iceshard-tools:
    name: Deploy Tool (conan-iceshard-tools, 1.0.1)
    needs: deploy-basic-tools
    uses: ./.github/workflows/deploy_tool_callable.yml
    with:
      tool: 'conan-iceshard-tools'
      version: '1.0.2'
      channel: stable
      platform: ${{ inputs.platform }}
    secrets:
      conan_user: 'iceshard'
      conan_token: ${{ secrets.CONAN_TOKEN }}

  deploy-tools-dependencies:
    name: Deploy Tools Dependencies
    needs: deploy-conan-iceshard-tools
    strategy:
      max-parallel: 1
      matrix:
        include:
          - library: lua
            version: '5.1.5'
          - library: lua-lpeg
            version: '0.12.0'
          - library: lua-filesystem
            version: '1.8.0'
    uses: ./.github/workflows/deploy_library_callable.yml
    with:
      library: ${{ matrix.library }}
      version: ${{ matrix.version }}
      channel: stable
      platform: ${{ inputs.platform }}
    secrets:
      conan_user: 'iceshard'
      conan_token: ${{ secrets.CONAN_TOKEN }}

  deploy-tools:
    name: Deploy Tool
    needs: deploy-tools-dependencies
    strategy:
      max-parallel: 1
      matrix:
        include:
          - tool: 'moonscript-installer'
            version: '0.5.0'
          - tool: 'ice-build-tools-proxy'
            package: 'ice-build-tools'
            version: '1.11.1'
    uses: ./.github/workflows/deploy_tool_callable.yml
    with:
      tool: ${{ matrix.tool }}
      version: ${{ matrix.version }}
      channel: stable
      platform: ${{ inputs.platform }}
      conan_deploy_package: ${{ matrix.package }}
    secrets:
      conan_user: 'iceshard'
      conan_token: ${{ secrets.CONAN_TOKEN }}
