name: Deploy Library (utility)
run-name: Deploy ${{ inputs.library }}/${{ inputs.version }}@iceshard/${{ inputs.channel }}

on:
  workflow_call:
    inputs:
      library:
        description: 'The library recipe to be deployed.'
        required: true
        type: string
      version:
        description: 'The library version to be deployed.'
        required: true
        type: string
      channel:
        description: 'The channel to which we want the package to be deployed.'
        required: false
        type: string
        default: 'stable'
      platform:
        description: 'The platform that the library should be deployed for.'
        required: true
        type: string
    secrets:
      conan_user:
        required: true
      conan_password:
        required: true

jobs:
  deploy-package-windows:
    name: Deploy ${{ inputs.library }} (Windows-${{ matrix.config }})
    if: ${{ inputs.platform == 'windows' || inputs.platform == 'all' }}
    runs-on: windows-latest
    strategy:
      matrix:
        config: [Debug, Release]
    env:
      CONAN_PROFILE: "windows_x64_msvc194"
    steps:
    - name: Checkout Source Code
      uses: actions/checkout@v4

    - name: Setup Conan2
      id: conan2
      uses: iceshard-engine/.github/.github/actions/conan2@main
      with:
        conan-cache: true
        conan-cache-version: 'v1-windows'
        conan-config-url: https://github.com/iceshard-engine/conan-config.git
        conan-profile: ${{ env.CONAN_PROFILE }}

    - name: Login to Repository
      shell: pwsh
      run: |
        conan remote login conan2-iceshard ${{ secrets.conan_user }} -p ${{ secrets.conan_password }}

    - name: Create Package
      shell: pwsh
      run: |
        conan create ./recipes/${{ inputs.library }} --version ${{ inputs.version }} --user iceshard --channel ${{ inputs.channel }} --profile:all ${{ env.CONAN_PROFILE }} -s"build_type=${{ matrix.config }}"

    - name: Upload Package
      shell: pwsh
      run: |
        conan upload -r conan2-iceshard  ${{ inputs.library }}/${{ inputs.version }}@iceshard/${{ inputs.channel }}

  deploy-package-linux:
    name: Deploy ${{ inputs.library }} (Linux-${{ matrix.config }})
    if: ${{ inputs.platform == 'linux' || inputs.platform == 'all' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config: [Debug, Release]
    env:
      CONAN_PROFILE: "linux_x64_clang20"
    steps:
    - name: Checkout Source Code
      uses: actions/checkout@v4

    - name: Setup Conan2
      id: conan2
      uses: iceshard-engine/.github/.github/actions/conan2@main
      with:
        conan-cache: true
        conan-cache-version: 'v1-linux'
        conan-config-url: https://github.com/iceshard-engine/conan-config.git
        conan-profile: ${{ env.CONAN_PROFILE }}

    - name: Setup Clang-${{ steps.conan2.outputs.conan-profile-compiler-version }}
      if: ${{ steps.conan2.outputs.conan-profile-compiler == 'clang' }}
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh ${{ steps.conan2.outputs.conan-profile-compiler-version }}
        sudo apt install libc++-${{ steps.conan2.outputs.conan-profile-compiler-version }}-dev libc++abi-${{ steps.conan2.outputs.conan-profile-compiler-version }}-dev

    - name: Login to Repository
      shell: pwsh
      run: |
        conan remote login conan2-iceshard ${{ secrets.conan_user }} -p ${{ secrets.conan_password }}

    - name: Create Package
      shell: pwsh
      run: |
        conan create ./recipes/${{ inputs.library }} --version ${{ inputs.version }} --user iceshard --channel ${{ inputs.channel }} --profile:all ${{ env.CONAN_PROFILE }} -s"build_type=${{ matrix.config }}"

    - name: Upload Package
      shell: pwsh
      run: |
        conan upload -r conan2-iceshard  ${{ inputs.library }}/${{ inputs.version }}@iceshard/${{ inputs.channel }}
